@model LMS1.ViewModels.UserToShow

@{
    ViewData["Title"] = "User Details";
}

<h3>User Details</h3>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LmsName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LmsName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>
</div>

<p>
    <a asp-action="AddActivity" asp-route-id="@Model.Id">Add User</a>
</p>

<div>
    <a asp-controller="ApplicationUsers" asp-action="Index">Users</a> | 
    <a asp-controller="Courses" asp-action="Index">Courses</a>
</div>
