@model LMS1.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h3>Course description</h3>
<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit these data</a> |
    <a asp-controller="ApplicationUsers" asp-action="Create" asp-route-id="@Model.Id">Add student</a> |
    <a asp-controller="ApplicationUsers" asp-action="ListStudents" asp-route-id="@Model.Id">Show students</a> |
    <a asp-action="Index">Back to list of courses</a>
</div>

<br>


<p>
    <a asp-action="AddModule" asp-route-id="@Model.Id">Add Module</a>
</p>

@if (Model.Modules.Count > 0)
{
    <h3>List of modules</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Module Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Modules)
            {
                <tr class="p-3 mb-2 bg-light text-dark">
                    <td>
                        <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="CourseModules" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Edit" asp-controller="CourseModules" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-controller="CourseModules" asp-route-id="@item.Id">Delete</a> |
                        <a asp-action="AddActivity" asp-controller="CourseModules" asp-route-id="@item.Id">Add Activity</a>
                    </td>
                </tr>
                @foreach (var item2 in item.Activities)
                {
                    <tr>
                        <td>
                            <h7>@Html.DisplayFor(modelItem => item2.Name)</h7>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.EndDate)
                        </td>
                        <td>
                            <a asp-action="Details" asp-controller="CourseActivities" asp-route-id="@item2.Id">Details</a> |
                            <a asp-action="Edit" asp-controller="CourseActivities" asp-route-id="@item2.Id">Edit</a> |
                            <a asp-action="Delete" asp-controller="CourseActivities" asp-route-id="@item2.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}










@*@foreach (var item2 in item.Activities)
    {@Html.DisplayFor(modelItem => item2.Name)}*@

@*<table class="table">
        <thead>
            <tr>
                <th>Activity Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item2 in item.Activities)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item2.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.EndDate)
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="CourseModules" asp-route-id="@item2.Id">Details</a> |
                        <a asp-action="Edit" asp-controller="CourseModules" asp-route-id="@item2.Id">Edit</a> |
                        <a asp-action="Delete" asp-controller="CourseModules" asp-route-id="@item2.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@