@model LMS1.Models.CourseActivity

@{
    ViewData["Title"] = "Details";
}

<h3>Activity Details</h3>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Module.Course.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Module.Course.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Module.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Module.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercise)
        </dd>
    </dl>
</div>

@if (Model.Submissions.Count > 0)
{
    string completeFilePath = "";
    <h3>Exercise Submissions</h3>
    <table class="table">
        <thead>
            <tr>
                <th>File link</th>
                <th>Student</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Submissions)
            {
                completeFilePath = "/Exercises/" + item.FileName;
                <tr class="p-3 mb-2 bg-light text-dark">
                    <td>
                        <a href=@completeFilePath>@item.FileName</a>
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.User.LmsName)
                    </td>
                    <td>
                        <a asp-action="DeleteSubmission" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="BacktoModules" asp-route-id="@Model.Id">Back to Module</a>
    @*<a asp-action="Index">Back to List</a>*@
</div>
