@model LMS1.ViewModels.ActivityForTeacher

@{
    ViewData["Title"] = "Details";
}

<h3>Activity Details</h3>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.activity.Module.Course.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.activity.Module.Course.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.activity.Module.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.activity.Module.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.activity.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.activity.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.activity.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.activity.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.activity.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.activity.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.activity.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.activity.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.activity.Exercise)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.activity.Exercise)
        </dd>
    </dl>
</div>


<h3>Files for the Activity</h3>
<a asp-action="AddFile" asp-route-id="@Model.activity.Id">Add File</a>
<hr />

@if (Model.activity.ExerciseSubmissionRequired)
{
    string completeFilePath = "";
    <h3>Exercise Submissions</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Student</th>
                <th>File link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.studentSubmissions)
            {
                <tr class="p-3 mb-2 bg-light text-dark">
                    <td>
                        @Html.DisplayFor(model => item.student.LmsName)
                    </td>
                    <td>
                        @if (item.submission != null)
                        {
                            completeFilePath = "/Exercises/" + item.submission.FileName;
                            <a href=@completeFilePath>@item.submission.FileName</a>
                        }
                        else
                        {
                            <span>Nothing submitted</span>
                        }
                    </td>
                    <td>
                        @if (item.submission != null)
                        {
                            <a asp-action="DeleteSubmission" asp-route-id="@item.submission.Id">Delete file</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model.activity.Id">Edit</a> |
    <a asp-action="BacktoModules" asp-route-id="@Model.activity.Id">Back to Module</a>
</div>
