@model LMS1.Models.CourseModule

@{
    ViewData["Title"] = "Details";
}

<h3>Module Details</h3>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit Module Details</a> |
    <a asp-action="AddFile" asp-route-id="@Model.Id">Add File</a> |
    <a asp-action="BacktoCourse" asp-route-id="@Model.Id">Back to Course</a>
</div>

<br>

<div>
    @if (Model.ModuleDocuments?.Count > 0)
    {
        string completeFilePath = "";
        <h3>Files for the Module</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>File link</th>
                    <th>Document name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ModuleDocuments)
                {
                    completeFilePath = "/Documents/" + item.FileName;
                    <tr class="p-3 mb-2 bg-light text-dark">
                        <td>
                            <a href=@completeFilePath>@item.FileName</a>
                        </td>
                        <td>
                            <h7>@item.InternalName</h7>
                        </td>
                        <td>
                            <a asp-action="DeleteModuleFile" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<br>

<div>
    <h3>List of Activities</h3>
    <p>
        <a asp-action="AddActivity" asp-route-id="@Model.Id">Add Activity</a>
    </p>

    @if (Model.Activities.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Activity Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Activities)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-controller="CourseActivities" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @*<a asp-action="Details" asp-controller="CourseActivities" asp-route-id="@item.Id">Details</a> |*@
                            <a asp-action="Edit" asp-controller="CourseActivities" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-controller="CourseActivities" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
